header {
  text-align: center;
  padding: 40px 20px 20px;
}

.titulo-animado {
  font-size: 52px;
  color: var(--color-titulo);
  margin: 0;
  font-weight: 700;
}

.subtitulo {
  font-size: 20px;
  margin-top: 10px;
  color: var(--color-texto);
}

.menu-principal {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap;
}

.boton {
  background-color: var(--color-boton);
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 700;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.2s;
}

.boton:hover {
  background-color: var(--color-boton-hover);
  transform: scale(1.05);
}

.footer {
  background-color: var(--color-texto);
  color: var(--color-titulo);
  padding: 40px 20px 20px;
  font-family: 'Baloo 2', sans-serif;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-logo h3 {
  font-size: 26px;
  margin-bottom: 10px;
  color: var(--color-titulo);
}

.footer-logo p {
  font-size: 14px;
  color: var(--color-titulo);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: var(--color-titulo);
}
