body {
background-color: #e5d3bb;
font-family: 'Baloo 2', sans-serif;
color: #70a296;
margin: 0;
padding: 0;
}

header {
text-align: center;
padding: 40px 20px 20px;
}

.titulo-animado {
font-size: 52px;
color: #a74b2e;
margin: 0;
font-weight: 700;
}

.subtitulo {
font-size: 20px;
margin-top: 10px;
color: #;
}

.menu-principal {
display: flex;
justify-content: center;
gap: 15px;
padding: 20px;
flex-wrap: wrap;
}

.boton {
background-color: #178183;
color: #eaebe4;
padding: 12px 24px;
text-decoration: none;
border-radius: 25px;
font-weight: 700;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
transition: background 0.3s, transform 0.2s;
}

.boton\:hover {
background-color: #9eabad;
transform: scale(1.05);
}

main {
padding: 40px 20px;
text-align: center;
}

.destacado {
max-width: 600px;
margin: 0 auto;
background-color: #e1e9ec;
border-left: 6px solid #74a494;
padding: 30px;
border-radius: 15px;
box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.destacado h2 {
font-size: 28px;
color: #70a296;
margin-bottom: 15px;
}

.destacado p {
font-size: 18px;
color: #444;
margin-bottom: 20px;
}

.cta {
display: inline-block;
background-color: #178183;
color: #f3ccc0;
padding: 10px 20px;
border-radius: 25px;
text-decoration: none;
font-weight: bold;
transition: background 0.3s, transform 0.2s;
}

.cta\:hover {
background-color: #9eabad;
transform: scale(1.05);
}

.footer {
background-color: #2f2716;
color: #a74b2e;
padding: 40px 20px 20px;
font-family: 'Baloo 2', sans-serif;
margin-top: 60px;
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 40px;
max-width: 1100px;
margin: 0 auto;
}

.footer-logo h3 {
font-size: 26px;
margin-bottom: 10px;
color: #a74b2e;
}

.footer-logo p {
font-size: 14px;
color: #a74b2e;
}

.footer-bottom {
text-align: center;
margin-top: 30px;
font-size: 20px;
color: #a74b2e;
}